/* Colors */
:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-violet: hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);
  --neutral-grey: hsl(0, 0%, 75%);
  --neutral-violet: hsl(257, 7%, 63%);
  --dark-blue: hsl(255, 11%, 22%);
  --dark-violet: hsl(260, 8%, 14%);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  width: 100%;
  margin: 0 auto;
}

/* Navbar */
.nav-link-item {
  font-weight: 700;
  font-size: 18px;
  color: var(--neutral-grey);
  margin: 0 1rem;
}

.nav-link-item:hover {
  color: var(--dark-violet);
}

.login {
  color: var(--neutral-grey);
  font-weight: 700;
  font-size: 18px;
}
.login:hover {
  color: var(--dark-violet);
}
.sign {
  background-color: var(--primary-cyan);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 1.5rem;
  border: solid 0;
  padding: 0.6rem 0.8rem;
  margin-left: 1rem;
}
.sign:hover {
  background-color: var(--primary-cyan) !important;
  opacity: 0.8;
}
/* Header */
h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: left;
  color: var(--dark-violet);
}
p {
  color: var(--neutral-grey);
  text-align: left;
}
.start {
  background-color: var(--primary-cyan);
  color: #fff;
  padding: 1rem 1.4rem;
  border-radius: 2rem;
  border: solid 0;
}
.start:hover {
  background-color: var(--primary-cyan) !important;
  opacity: 0.8;
}

/* Main */

.boost {
  background-color: var(--primary-violet);
  background-image: url(./images/bg-shorten-desktop.svg);
  background-size: cover;
  padding: 3.5rem;
  opacity: 1;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}
.container-statistics {
  background: linear-gradient(
    180deg,
    transparent 45%,
    #2acfcf 0,
    #2acfcf 47%,
    transparent 0
  );
  display: flex;
  gap: 20px;
  text-align: left;
  margin-bottom: 3rem;
}
.box-statistics {
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 64px 20px 32px;
  height: 50%;
  position: relative;
}
.icon-box {
  position: absolute;
  background: var(--primary-violet);
  padding: 20px;
  border-radius: 50%;
  top: 0;
  transform: translate(-10%, -50%);
}
.pos-2 {
  margin-top: 4%;
}

.pos-3 {
  margin-top: 8%;
}

/* Shorten */

.short {
  background-color: var(--primary-violet);
  background-image: url(./images/bg-shorten-desktop.svg);
  background-size: cover;
  margin: 10rem auto 2rem;
  position: relative;
  border-radius: 0.8rem;
  padding: 3rem 2rem;
  bottom: 5rem;
}

input {
  border-radius: 0.5rem;
  padding: 0.8rem 1.3rem;
  height: 3rem;
  width: 80%;
}

.shorten {
  border-radius: 0.5rem;
  background-color: var(--primary-cyan);
  padding: 0.5rem 1.3rem;
  color: #fff;
  border-color: transparent;
  height: 3rem;
}

/* Footer */
footer {
  color: #fff;
  font-size: 18px !important;
}

a {
  color: var(--neutral-grey);
  text-decoration: none;
}
a:hover {
  color: var(--primary-cyan);
}
.svg-path:hover {
  fill: var(--primary-cyan);
}

@media (max-width: 992px) {
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .container-statistics {
    flex-direction: column;
    text-align: center;
    gap: 50px;
    background: linear-gradient(
      to right,
      transparent 50%,
      hsl(180, 66%, 49%) 50%,
      hsl(180, 66%, 49%) 53%,
      transparent 53%
    );
  }
  .icon-box {
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
  .short {
    border-radius: 0.8rem;
    padding: 2rem 1rem;
  }
  .shorten,
  input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .start {
    display: block;
    margin: auto;
  }
  .boost {
    padding: 3.5rem 1rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  footer {
    text-align: center;
  }
}
